body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr auto;
}

.item {
    padding: 10px;
    border: 1px solid black;
}

.navPanel {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #f1f1f1;
    height: 50px;
    display: flex;
    border: 0px;
}

.leftPanel {
    background-color: #f1f1f1;
    height: auto;
    overflow: hidden;
    border-radius: 20px; 
    border: 0px;
    margin-top: 5%;
}

.mainPanel {
    background-color: #f1f1f1 ;
    height: auto;
    overflow-y: auto;
    border-radius: 20px; 
    border: 0px;
    margin-top: 5%;
}

.rightPanel {
    background-color: #f1f1f1;
    height: auto;
    overflow: hidden;
    border-radius: 20px; 
    border: 0px;
    margin-top: 5%;
}

.buttonLeftPanel {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border: 0px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 95%;
    font-family: Arial;
    cursor: pointer;
}

.buttonLeftPanel:hover {
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.buttonLeftPanel:active {
    border: none;
}

.buttonSearch {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 0px solid #ccc;
    border-radius: 5px;
    padding: 10%;
    height: 50px;
    width: 45%;
    padding: 10px;
    margin: 10px;
    background-color: #e8e8e8;
    margin-left: 7%;
}

.buttonSearch:hover {
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.buttonSearch:active {
    border: none;
}

.textButton {
    font-size: 18px; 
    color: #000000; 
    font-family: Arial;
}

.textSearchButton {
    font-size: 22px;
    color: #333;
    font-family: Arial;
}

.iconSber {
    width: 15%;
    height: 35px;
}

.buttonLeftPanel>img {
    border: 0px;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.avatarImg {
    border: 0px;
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-left: 15%;
    border-radius: 50px;
}

.serviceImg {
    border: 0px;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.serviceImg:hover {
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.serviceImg:active {
    border: none;
}

.exitImg {
    border: 0px;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.exitImg:hover {
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.exitImg:active {
    border: none;
}

.nickName {
    margin-top: 35px;
}