.panel {
    width: 95%;
    height: 250px; 
    overflow: hidden; 
    border: 0px solid #000; 
    transition: height 0.3s ease; 
    margin-bottom: 10px; 
    background-color: #e8e8e8;
    border-radius: 20px;
}

.panel {
    background: linear-gradient(-45deg, #ffb74d, #ffcc80, #81d4fa, #80deea);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
 0% {
   background-position: 0% 50%;
 }
 50% {
   background-position: 100% 50%;
 }
 100% {
   background-position: 0% 50%;
 }
}

.containerPanels {
    width: 90%;
    height: 80%; 
    overflow: hidden; 
    border: 0px solid #000; 
    transition: height 0.3s ease; 
    margin-bottom: 10px; 
    border-radius: 20px;
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
}

.containerPanels>p, h3 {
  margin: 0px;
  padding: 0;
}

.panel>h1 {
  margin: 0px;
  margin-left: 3%;
}

.panelWallet {
  width: 20%;
  height: 80%;
  background-color: #e8e8e8;
  margin-right: 2%;
  border-radius: 20px;
  align-items: flex-end;

}

.smallPanel {
  width: 95%;
  height: 50px; 
  overflow: hidden; 
  border: 0px solid #000; 
  transition: height 0.3s ease; 
  margin-bottom: 10px; 
  background-color: #e8e8e8;
  border-radius: 20px;
}

.dopPanel {
  width: 95%;
  height: 130px; 
  overflow: hidden; 
  border: 0px solid #000;
  transition: height 0.3s ease; 
  margin-bottom: 10px; 
  background-color: #f5f5f5;
  border-radius: 20px;
  margin-left: 3%;
  display: flex;
}

.dopPanelInsurance {
  width: 95%;
  height: 100px; 
  overflow: hidden; 
  border: 0px solid #000; 
  transition: height 0.3s ease; 
  margin-bottom: 10px; 
  background-color: #f5f5f5;
  border-radius: 20px;
  margin-left: 3%;
  display: flex;
}

.dopPanelText {
  margin-left: 3%;
}

.textPanel {
  margin-left: 3%;
  display: flex;
}

.textPanel>h2 {
  margin-right: 5%;
}

.goSaving {
  color: green;
}

.textPanelInsurance {
  margin-left: 3%;
  display: flex;
}

.textPanelInsurance > h2{
  margin-right: 5%;
}

.dopPanelInsurance {
  width: 90%;
}

.dopPanelTextInsurance {
  margin-left: 3%;
}

.dopPanelImgInsurance > img {
  width: 50px;
  height: 50px;
  margin: 10%;
}

